form {
        text-align:center;
        }
body {
        background-repeat:no-repeat;
        background-attached:fixed;
        background-size:cover;
        background-image:url('car.jpg');
        }